body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.forms {
  display: flex;
  gap: 10px;
}

.conteudo {
  display: flex;
  align-items: center;
  flex-wrap: row;
  gap: 30px;
  margin: 30px;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

#img {
 max-width: 426px;
 max-height: 500px;
  
}